*{
    margin: 0%;
    padding: 0;
 }

#espaceetudiant{
    background-color: rgb(205, 205, 205);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
    gap: 0.2em;
    padding: 0.5em;
}

#espaceetudiant .content{
    background-color: rgb(109, 109, 113);
    height: 100%;
    width: 100%;
    border-radius: 15px;
    transition: all;
    transition-duration: 0.5s;
    transition-timing-function:cubic-bezier(0.29, -1.13, 0.75, 0.36);
}

#espaceetudiant .content:hover{
    background-color: rgba(24, 24, 187, 0.321);
   transform: scale(105%);
   box-shadow: 0px 0px 50px gray;
   z-index: 9999;
}


#espaceetudiant .content img{
    height: 100%;
    width: 100%;
    filter:brightness(80%);
}




